/* frontend\src\styles\palette.css */

/* Paleta azul */
:root {
    --color-primary: #004aad;
    --color-primary-light: #e6f0fa;
    --color-secondary: #007bff;
    --color-accent: #ffb300;
    --color-bg: #f9f9f9;
    --color-bg-section: #fff;
    --color-border: #e0e0e0;
    --color-border-focus: #007bff;
    --color-shadow: rgba(0, 0, 0, 0.06);
    --color-text: #222;
    --color-text-light: #333;
    --color-error: #d32f2f;
    --color-selected-bg: #e0f7fa; /* exemplo: azul claro */
    --color-selected-border: #00838f; /* exemplo: azul escuro */
}

/* // Paleta verde */
/* :root {
    --color-primary: #218838;
    --color-primary-light: #e6f9ea;
    --color-secondary: #28a745;
    --color-accent: #b2dfdb;
    --color-bg: #f6fff8;
    --color-bg-section: #fff;
    --color-border: #b7e4c7;
    --color-border-focus: #28a745;
    --color-text: #1b3a2b;
    --color-text-light: #3a5a40;
    --color-error: #d32f2f;
} */

/* // Paleta escura */

/* :root {
    --color-primary: #313131;
    --color-primary-light: #cdcdcd;
    --color-secondary: #222;
    --color-accent: #888;
    --color-bg: #dddddd;
    --color-bg-section: #f2f2f2;
    --color-border: #333;
    --color-border-focus: #555;
    --color-text: #222;
    --color-text-light: #4d4d4d;
    --color-error: #d32f2f;
} */
